alias exa3='exa --tree --level=3 --long'
alias nv=nvim
alias cl=clear
alias cmd='cmd.exe /c'

alias pym='convertPath python manage.py'

alias js='python3 ~/dotfiles/scripts/jira.py get_issues_in_active_sprint'

alias gits='convertPath git status'
alias gitc='convertPath git commit -m'
alias gitco='convertPath git checkout'
alias gitplo='convertPath git pull origin'
alias gitpl='convertPath git pull'
alias gitpso='convertPath git push origin'
alias gitps='convertPath git push'
alias gita='convertPath git add'
alias gitaa='convertPath git add --all'
alias gitr='convertPath git restore'
alias gitb='convertPath git branch'
alias gitf='convertPath git fetch'
alias gitst='convertPath git stash'

alias ghprs='convertPath gh pr status'
alias ghprc='convertPath gh pr create --web'
alias ghprck='convertPath gh pr checks'
alias ghprv='convertPath gh pr view'
