alias exa3='exa --tree --level=3 --long'
alias ls='eza --long -a'
alias nv=nvim
alias cl=clear
alias d='convertPath docker'
alias cmd='cmd.exe /c'
alias mux='tmuxinator'
alias fd='fdfind'
alias bat='batcat'
alias git='convertPath git'
alias docker='convertPath docker'
alias gh='convertPath gh'
alias npm='convertPath npm'
alias kub='convertPath kubectl'

alias pym='convertPath python manage.py'

alias gits='convertPath git status'
alias gitc='convertPath git commit -m'
alias gitco='convertPath git checkout'
alias gitplo='convertPath git pull origin'
alias gitpl='convertPath git pull'
alias gitpso='convertPath git push origin'
alias gitps='convertPath git push'
alias gita='convertPath git add'
alias gitaa='convertPath git add --all'
alias gitr='convertPath git restore'
alias gitb='convertPath git branch'
alias gitf='convertPath git fetch'
alias gitst='convertPath git stash'
alias gitm='convertPath git merge'

alias ghprs='convertPath gh pr status'
alias ghprc='convertPath gh pr create --web'
alias ghprck='convertPath gh pr checks'
alias ghprv='convertPath gh pr view'

alias jsp='jira sprint list --current -a$(jira me)'
